*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  background: url(../assets/images/main-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      height: 140rem; } }
  @media only screen and (max-width: 37.5em) {
    html {
      height: 100%; } }

body {
  line-height: 1.6;
  height: 100%; }

.weather-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 24rem;
  padding: 2rem; }
  @media only screen and (max-width: 75em) {
    .weather-box {
      width: 50rem;
      height: 70rem;
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .weather-box {
      width: 30rem;
      height: 40rem; } }
  @media only screen and (max-width: 75em) {
    .weather-box:not(:last-child) {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .weather-box:not(:last-child) {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 75em) {
    .weather-box:last-child {
      margin-bottom: 5rem; } }
  .weather-box .day {
    font-size: 2.4rem; }
  .weather-box .weather-icon img {
    max-width: 100%;
    height: 15rem;
    margin: 0 auto; }
    @media only screen and (max-width: 75em) {
      .weather-box .weather-icon img {
        height: 25rem; } }
    @media only screen and (max-width: 37.5em) {
      .weather-box .weather-icon img {
        height: 15rem; } }
  .weather-box .current-temperature {
    font-size: 5rem; }
  .weather-box .weather-status {
    font-size: 2.4rem; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    body {
      justify-content: flex-start; } }

header {
  height: 5vh;
  width: 110rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 75em) {
    header {
      justify-content: center;
      margin-top: 15rem;
      width: 100%; } }
  header .input-wrapper {
    position: relative; }
    header .input-wrapper img {
      position: absolute;
      top: 1.5rem;
      left: 2rem;
      width: 2rem; }
      @media only screen and (max-width: 75em) {
        header .input-wrapper img {
          top: 2.5rem;
          left: 4rem; } }
    header .input-wrapper .search {
      width: 30rem;
      height: 5rem;
      text-align: center;
      font-size: 1.6rem;
      background-color: #6ea8da;
      outline: none;
      border: 0;
      font-weight: 600; }
      @media only screen and (max-width: 75em) {
        header .input-wrapper .search {
          width: 50rem;
          height: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        header .input-wrapper .search {
          width: 30rem; } }
      header .input-wrapper .search::-webkit-input-placeholder {
        color: #182e66;
        font-weight: 600; }

main {
  display: flex;
  flex-direction: column;
  width: 110rem; }
  @media only screen and (max-width: 75em) {
    main {
      width: 100%; } }
  main .arrow-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    @media only screen and (max-width: 75em) {
      main .arrow-bar {
        justify-content: center;
        order: 2;
        margin-bottom: 5rem; } }
    main .arrow-bar a {
      height: 10rem;
      width: 10rem;
      display: flex;
      align-items: center;
      margin-right: -2.3rem; }
    main .arrow-bar img {
      max-width: 100%; }
      @media only screen and (max-width: 75em) {
        main .arrow-bar img {
          transform: rotate(90deg); } }
  main .temperature-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35rem;
    color: #fff; }
    @media only screen and (max-width: 75em) {
      main .temperature-bar {
        flex-direction: column;
        height: 190rem; } }
    @media only screen and (max-width: 37.5em) {
      main .temperature-bar {
        height: 150rem; } }
    main .temperature-bar .current-weather-box {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 27rem;
      padding: 2rem; }
      @media only screen and (max-width: 75em) {
        main .temperature-bar .current-weather-box {
          width: 50rem;
          height: 35rem;
          margin-bottom: 5rem;
          justify-content: center;
          align-items: center; } }
      @media only screen and (max-width: 37.5em) {
        main .temperature-bar .current-weather-box {
          width: 30rem;
          align-items: flex-start; } }
      main .temperature-bar .current-weather-box .city {
        font-size: 3.5rem;
        font-weight: bold; }
      main .temperature-bar .current-weather-box .day {
        font-size: 2rem;
        color: #ccc; }
      main .temperature-bar .current-weather-box .current-temperature {
        font-size: 9rem; }
      main .temperature-bar .current-weather-box .weather-status {
        font-size: 2.6rem; }
