// BASE SETTINGS OF PROJECT
// Already have resets in css/normalize.css
*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px;
    font-family: 'Montserrat', sans-serif;
    background: url(../assets/images/main-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;

    @include respond(tab-land) {
        height: 140rem;
    }

    @include respond(phone) {
        height: 100%;
    }
}

body {
    line-height: 1.6;
    height: 100%;
}