// Repeated Blocks (like buttons etc.)
.weather-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .3);
    height: 100%;
    width: 24rem;
    padding: 2rem;

    @include respond(tab-land) {
        width: 50rem;
        height: 70rem;
        justify-content: center;
        align-items: center;
    }

    @include respond(phone) {
        width: 30rem;
        height: 40rem;
    }

    &:not(:last-child) {
        @include respond(tab-land) {
            margin-bottom: 2rem;
        }

        @include respond(phone) {
            margin-bottom: 4rem;
        }
    }

    &:last-child {
        @include respond(tab-land) {
            margin-bottom: 5rem;
        }
    }
    .day {
        font-size: 2.4rem;
    }

    .weather-icon {
        img {
            max-width: 100%;
            height: 15rem;
            margin: 0 auto;

            @include respond(tab-land) {
                height: 25rem;
            }

            @include respond(phone) {
                height: 15rem;
            }
        }
    }

    .current-temperature {
        font-size: 5rem;
    }

    .weather-status {
        font-size: 2.4rem;
    }
}