// Layout template
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
        justify-content: flex-start;
    }
}

header {
    height: 5vh;
    width: 110rem;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    margin-bottom: 3rem;

    @include respond(tab-land) {
        justify-content: center;
        margin-top: 15rem;
        width: 100%;
    }

    .input-wrapper {
        position: relative;

        img {
            position: absolute;
            top: 1.5rem;
            left: 2rem;
            width: 2rem;

            @include respond(tab-land) {
                top: 2.5rem;
                left: 4rem;
            }
        }

        .search {
            width: 30rem;
            height: 5rem;
            text-align: center;
            font-size: 1.6rem; 
            background-color: #6ea8da;
            outline: none;
            border: 0;
            font-weight: 600;

            @include respond(tab-land) {
                width: 50rem;
                height: 7rem;
            }

            @include respond(phone) {
                width: 30rem;
            }
    
            &::-webkit-input-placeholder {
                color: #182e66;
                font-weight: 600;
            }
        }
    }
    
}

main {
    display: flex;
    flex-direction: column;
    width: 110rem;
    @include respond(tab-land) {
        width: 100%;
    }

    .arrow-bar {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @include respond(tab-land) {
            justify-content: center;
            // Replace the position of the arrow icon to the bottom of the page
            order: 2;
            margin-bottom: 5rem;
        }

        a {
            height: 10rem;
            width: 10rem;
            display: flex;
            align-items: center;
            // Force pushing the a element to the right for alignment purposes
            margin-right: -2.3rem;
        }

        img {
            max-width: 100%;
            @include respond(tab-land) {
                transform: rotate(90deg);
            }
        }
    }

    .temperature-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35rem;
        color: #fff;
        // background: purple;

        @include respond(tab-land) {
            flex-direction: column;
            height: 190rem;        }

        @include respond(phone) {
            height: 150rem;
        }

        .current-weather-box {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 27rem;
            padding: 2rem;

            @include respond(tab-land) {
                width: 50rem;
                height: 35rem;
                margin-bottom: 5rem;
                justify-content: center;
                align-items: center;
            }

            @include respond(phone) {
                width: 30rem;
                align-items: flex-start;
            }

            .city {
                font-size: 3.5rem;
                font-weight: bold;
            }

            .day {
                font-size: 2rem;
                color: #ccc;
            }

            .current-temperature {
                font-size: 9rem;
            }

            .weather-status {
                font-size: 2.6rem;
            }
        }
    }
}