@mixin respond($breakpoint) {
    @if $breakpoint == phone { // width < 600 
        @media only screen and (max-width: 37.5em) {
            @content
        };
    }

    @if $breakpoint == tab-port { // width < 900
        @media only screen and (max-width: 56.25em) {
            @content
        };
    }

    @if $breakpoint == tab-land { // width < 1200
        @media only screen and (max-width: 75em) {
            @content
        };
    }
}